---
- name: Add longhorn chart repo
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: "https://charts.longhorn.io"
    state: present
  delegate_to: localhost
  run_once: true

- name: Install longhorn helm chart
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    release_namespace: longhorn-system
    create_namespace: true
    state: present
    wait: true
  delegate_to: localhost
  run_once: true
