my_public_key = ""
seolman_password = ""

ve_endpoint = ""
ve_api_token = ""

b2_application_key = ""
b2_application_key_id = ""

oci_user_ocid = ""
oci_fingerprint = ""
oci_tenancy_ocid = ""
oci_region = ""
oci_private_key = ""

