apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-cert
spec:
  secretName: traefik-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: traefik.seolman.dev
  dnsNames:
    - traefik.seolman.dev
