apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-ingressroute
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`argocd.seolman.dev`)
      services:
        - name: argocd-server
          port: 80
  tls:
    secretName: argocd-tls
