---
- name: Uninstall k3s master
  hosts: k3s_masters
  become: true
  tasks:
    - name: Check if uninstall script exist
      ansible.builtin.stat:
        path: /usr/local/bin/k3s-uninstall.sh
      register: k3s_master_uninstall_script

    - name: Uninstall
      when: k3s_master_uninstall_script.stat.exists
      ansible.builtin.command: /usr/local/bin/k3s-uninstall.sh
      changed_when: false
      notify: Reboot

- name: Uninstall k3s workers
  hosts: k3s_workers
  become: true
  tasks:
    - name: Check if uninstall script exist
      ansible.builtin.stat:
        path: /usr/local/bin/k3s-agent-uninstall.sh
      register: k3s_master_uninstall_script

    - name: Uninstall
      when: k3s_master_uninstall_script.stat.exists
      ansible.builtin.command: /usr/local/bin/k3s-agent-uninstall.sh
      changed_when: false
      notify: Reboot

  handlers:
    - name: Reboot
      ansible.builtin.reboot:
